.signupContainer {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}


.signupContainer::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}